*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    margin: 0;
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    display: block;
}

.arrowsTop {
    position: absolute;
    bottom: 80px;
    right: 90px;
    display: flex;
    gap: 10px;
  }
  
  .arrowsBottom {
    position: absolute;
    bottom: 20px;
    right: 30px;
    display: flex;
    gap: 10px;
  }
  
  .wKey {
    position: absolute;
    bottom: 80px;
    right: 210px;
    display: flex;
  }
  
  .sKey {
    position: absolute;
    bottom: 20px;
    right: 210px;
    display: flex;
  }
  
  .arrow {
    /* Reset default button styles */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    margin: 0;
    background: none;
    padding: 0;
    z-index: 10;
  
    /* Styling */
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    color: rgb(40, 40, 40);
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    user-select: none; /* Prevent text selection */
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For IE/Edge */
  }
  
  .arrow.active {
    background-color: rgba(255, 255, 255, 0.6);
  }
  
  .reset-container {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  
  .counter-container {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  
  .esc-key-button {
    /* Reset default button styles */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    margin: 0;
    background: none;
    padding: 0;
    z-index: 10;
  
    /* Styling */
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    color: rgb(40, 40, 40);
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    user-select: none; /* Prevent text selection */
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For IE/Edge */
  }
  
  .esc-key-button.active {
    background-color: rgba(255, 255, 255, 0.6);
  }
  
  .letter-button {
    /* Reset default button styles */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    margin: 0;
    background: none;
    padding: 0;
    z-index: 10;
  
    /* Styling */
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    color: rgb(40, 40, 40);
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    user-select: none; /* Prevent text selection */
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For IE/Edge */
  }
  
  .letter-button.active {
    background-color: rgba(255, 255, 255, 0.6);
  }
  
  .count-display {
    /* Reset default button styles */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    margin: 0;
    background: none;
    padding: 0;
    z-index: 10;
  
    /* Styling */
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    color: rgb(40, 40, 40);
    font-size: 16px;
    text-align: center;
    /* cursor: pointer; */
    user-select: none; /* Prevent text selection */
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For IE/Edge */
  }
  
  .icon {
    font-size: 30px;
  }
  
  #loading-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 44px;
    z-index: 9999;
  }

  /* Modal */
  .modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* background-color: rgba(0, 0, 0, 0.4); */
}

.modal-content {
    background-color: #000;
    color: #fff;
    font-size: 20px;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 700px; /* Could be more or less, depending on screen size */
}

.close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}